In [2]:
import pandas as pd
import numpy as np

In [3]:
df_calendar = pd.read_csv("calendar.csv")

In [4]:
df_calendar

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,167183,2021-04-15,f,$45.00,$45.00,1.0,5.0
1,6369,2021-04-15,t,$60.00,$60.00,1.0,1125.0
2,6369,2021-04-16,t,$60.00,$60.00,1.0,1125.0
3,6369,2021-04-17,t,$60.00,$60.00,1.0,1125.0
4,6369,2021-04-18,t,$60.00,$60.00,1.0,1125.0
...,...,...,...,...,...,...,...
7161251,49103093,2022-04-10,f,$28.00,$35.00,1.0,1125.0
7161252,49103093,2022-04-11,f,$28.00,$35.00,1.0,1125.0
7161253,49103093,2022-04-12,f,$28.00,$35.00,1.0,1125.0
7161254,49103093,2022-04-13,f,$28.00,$35.00,1.0,1125.0
7161255,49103093,2022-04-14,f,$28.00,$35.00,1.0,1125.0

In [17]:
df_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7161256 entries, 0 to 7161255
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 382.5+ MB

In [5]:
set([type(i) for i in df_calendar["adjusted_price"].values])

{float, str}

In [6]:
df_calendar["price"] = [(str(i)).strip("$") for i in df_calendar["price"].values]

In [7]:
df_calendar["price"].unique()

array(['45.00', '60.00', '35.00', ..., '779.00', '824.00', '1,819.00'],
      dtype=object)

In [9]:
df_calendar["price"] = [(str(i)).strip(".00") for i in df_calendar["price"].values]

In [10]:
df_calendar["price"].unique()

array(['45', '6', '35', ..., '779', '824', '1,819'], dtype=object)

In [11]:
df_calendar["price"].apply(lambda x: x.replace('""', "0") if pd.notnull(x) else x)

0          45
1           6
2           6
3           6
4           6
           ..
7161251    28
7161252    28
7161253    28
7161254    28
7161255    28
Name: price, Length: 7161256, dtype: object

In [15]:
df_calendar["price"].apply(lambda x: x.replace(',', '.') if pd.notnull(x) else x)

0          45
1           6
2           6
3           6
4           6
           ..
7161251    28
7161252    28
7161253    28
7161254    28
7161255    28
Name: price, Length: 7161256, dtype: object

In [16]:
df_calendar["price"].apply(lambda x: float(x))

ValueError: could not convert string to float: '1,4'

In [13]:
df_calendar.groupby("listing_id").mean()

            minimum_nights  maximum_nights
listing_id
6369                   1.0          1125.0
21853                  4.0            40.0
23001                 15.0           730.0
24805                  5.0          1125.0
26825                  2.0          1125.0
...                    ...             ...
49185822              30.0          1125.0
49186179              30.0          1125.0
49187258               7.0          1125.0
49187471              30.0          1125.0
49187791              30.0          1125.0

[19617 rows x 2 columns]

In [6]:
df_listings = pd.read_csv("listings.csv")

In [17]:
df_listings

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,6369,"Rooftop terrace room , ensuite bathroom",13660,Simon,ChamartÃ­n,HispanoamÃ©rica,40.45724,-3.67688,Private room,60,1,78,2020-09-20,0.58,1,180
1,21853,Bright and airy room,83531,Abdel,Latina,CÃ¡rmenes,40.40381,-3.74130,Private room,31,4,33,2018-07-15,0.42,2,364
2,23001,Apartmento Arganzuela- Madrid Rio,82175,Jesus,Arganzuela,Legazpi,40.38840,-3.69511,Entire home/apt,50,15,0,NaN,NaN,7,1
3,24805,Gran Via Studio Madrid,346366726,A,Centro,Universidad,40.42183,-3.70529,Entire home/apt,92,5,10,2020-03-01,0.13,1,72
4,26825,Single Room whith private Bathroom,114340,Agustina,Arganzuela,Legazpi,40.38975,-3.69018,Private room,26,2,149,2020-03-12,1.12,1,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19613,49185822,HabitaciÃ³n con TV con Netflix en LavapiÃ©s,172011610,Belaid,Centro,Embajadores,40.40756,-3.69937,Private room,23,30,0,NaN,NaN,8,349
19614,49186179,HabitaciÃ³n con TV con Netflix en Gaztambide,172011610,Belaid,ChamberÃ­,Gaztambide,40.43706,-3.71364,Private room,21,30,0,NaN,NaN,8,350
19615,49187258,HabitaciÃ³n con TV con Netflix en ChamberÃ­,172011610,Belaid,ChamberÃ­,Arapiles,40.43857,-3.70715,Private room,22,7,0,NaN,NaN,8,364
19616,49187471,HabitaciÃ³n con TV con Netflix en Goya,172011610,Belaid,Salamanca,Guindalera,40.43027,-3.66759,Private room,19,30,0,NaN,NaN,8,349
19617,49187791,HabitaciÃ³n con TV con Netflix en ChamberÃ­,172011610,Belaid,ChamberÃ­,Arapiles,40.43484,-3.70667,Private room,20,30,0,NaN,NaN,8,349

In [18]:
df_listings.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [18]:
df_listings_detailed = pd.read_csv("listings_detailed.csv")

In [19]:
df_listings_detailed

,id,listing_url,scrape_id,last_scraped,name,description,neighborhood_overview,picture_url,host_id,host_url,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6369,https://www.airbnb.com/rooms/6369,20210413152844,2021-04-15,"Rooftop terrace room , ensuite bathroom",Excellent connection with the AIRPORT and EXHI...,NaN,https://a0.muscache.com/pictures/683224/4cc318...,13660,https://www.airbnb.com/users/show/13660,...,10.0,10.0,10.0,NaN,f,1,0,1,0,0.58
1,21853,https://www.airbnb.com/rooms/21853,20210413152844,2021-04-16,Bright and airy room,We have a quiet and sunny room with a good vie...,We live in a leafy neighbourhood with plenty o...,https://a0.muscache.com/pictures/68483181/87bc...,83531,https://www.airbnb.com/users/show/83531,...,10.0,8.0,9.0,NaN,f,2,0,2,0,0.42
2,23001,https://www.airbnb.com/rooms/23001,20210413152844,2021-04-16,Apartmento Arganzuela- Madrid Rio,"Apartamento de tres dormitorios dobles, gran s...","Barrio Arganzuela, junto a Madrid Rio, zonas c...",https://a0.muscache.com/pictures/58e6a770-509c...,82175,https://www.airbnb.com/users/show/82175,...,NaN,NaN,NaN,NaN,f,7,6,1,0,NaN
3,24805,https://www.airbnb.com/rooms/24805,20210413152844,2021-04-15,Gran Via Studio Madrid,"Studio located 50 meters from Gran Via, next t...","The area is next to the Gran Via, so people li...",https://a0.muscache.com/pictures/miso/Hosting-...,346366726,https://www.airbnb.com/users/show/346366726,...,10.0,10.0,10.0,NaN,t,1,1,0,0,0.13
4,26825,https://www.airbnb.com/rooms/26825,20210413152844,2021-04-15,Single Room whith private Bathroom,Nice and cozy roon for one person with a priva...,"Es un barrio muy tranquilo, en una zona de Mad...",https://a0.muscache.com/pictures/149358/218d5b...,114340,https://www.airbnb.com/users/show/114340,...,9.0,9.0,9.0,NaN,f,1,0,1,0,1.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19613,49185822,https://www.airbnb.com/rooms/49185822,20210413152844,2021-04-15,HabitaciÃ³n con TV con Netflix en LavapiÃ©s,"*facturas incluidas (gas, electricidad, intern...",NaN,https://a0.muscache.com/pictures/59be7fbb-28b3...,172011610,https://www.airbnb.com/users/show/172011610,...,NaN,NaN,NaN,NaN,f,8,0,8,0,NaN
19614,49186179,https://www.airbnb.com/rooms/49186179,20210413152844,2021-04-16,HabitaciÃ³n con TV con Netflix en Gaztambide,"*facturas incluidas (gas, electricidad, intern...",NaN,https://a0.muscache.com/pictures/62d916ba-bea9...,172011610,https://www.airbnb.com/users/show/172011610,...,NaN,NaN,NaN,NaN,f,8,0,8,0,NaN
19615,49187258,https://www.airbnb.com/rooms/49187258,20210413152844,2021-04-15,HabitaciÃ³n con TV con Netflix en ChamberÃ­,"*facturas incluidas (gas, electricidad, Intern...",NaN,https://a0.muscache.com/pictures/be000599-44d6...,172011610,https://www.airbnb.com/users/show/172011610,...,NaN,NaN,NaN,NaN,f,8,0,8,0,NaN
19616,49187471,https://www.airbnb.com/rooms/49187471,20210413152844,2021-04-15,HabitaciÃ³n con TV con Netflix en Goya,"*facturas incluidas (gas, electricidad, intern...",NaN,https://a0.muscache.com/pictures/ffbecf79-945e...,172011610,https://www.airbnb.com/users/show/172011610,...,NaN,NaN,NaN,NaN,f,8,0,8,0,NaN
19617,49187791,https://www.airbnb.com/rooms/49187791,20210413152844,2021-04-15,HabitaciÃ³n con TV con Netflix en ChamberÃ­,"*facturas incluidas (gas, electricidad, intern...",NaN,https://a0.muscache.com/pictures/c750593e-5545...,172011610,https://www.airbnb.com/users/show/172011610,...,NaN,NaN,NaN,NaN,f,8,0,8,0,NaN

In [20]:
df_listings_detailed.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'description',
       'neighborhood_overview', 'picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [21]:
df_listings_detailed["price"]

0        $60.00
1        $31.00
2        $50.00
3        $92.00
4        $26.00
          ...
19613    $23.00
19614    $21.00
19615    $22.00
19616    $19.00
19617    $20.00
Name: price, Length: 19618, dtype: object

In [11]:
df_neighbourh = pd.read_csv("neighbourhoods.csv")

In [12]:
df_neighbourh

    neighbourhood_group  neighbourhood
0            Arganzuela        Acacias
1            Arganzuela         Atocha
2            Arganzuela        Chopera
3            Arganzuela       Delicias
4            Arganzuela       Imperial
..                  ...            ...
123          Villaverde       Butarque
124          Villaverde    Los Angeles
125          Villaverde    Los Rosales
126          Villaverde     San AndrÃ©s
127          Villaverde  San Cristobal

[128 rows x 2 columns]

In [13]:
df_reviews = pd.read_csv("reviews.csv")

In [14]:
df_reviews

        listing_id        date
0             6369  2010-03-14
1             6369  2010-03-23
2             6369  2010-04-10
3             6369  2010-04-21
4             6369  2010-04-26
...            ...         ...
625001    48990543  2021-04-14
625002    48991692  2021-04-04
625003    48992883  2021-04-11
625004    48992883  2021-04-12
625005    49067339  2021-04-12

[625006 rows x 2 columns]

In [15]:
df_reviews_detailed = pd.read_csv("reviews_detailed.csv")

In [16]:
df_reviews_detailed

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,6369,29428,2010-03-14,84790,Nancy,Simon and Arturo have the ultimate location in...
1,6369,31018,2010-03-23,84338,David,Myself and Kristy originally planned on stayin...
2,6369,34694,2010-04-10,98655,Marion,We had a great time at Arturo and Simon's ! A ...
3,6369,37146,2010-04-21,109871,Kurt,I very much enjoyed the stay. \r\nIt's a wond...
4,6369,38168,2010-04-26,98901,Dennis,Arturo and Simon are polite and friendly hosts...
...,...,...,...,...,...,...
625001,48990543,748625626,2021-04-14,133082364,Neus,"UbicaciÃ³n genial, en el maravilloso barrio de ..."
625002,48991692,745277975,2021-04-04,104936627,Irene,Muy buena atenciÃ³n y alojamiento muy cÃ³modo.
625003,48992883,747729871,2021-04-11,196731765,Teodoro,muy buena comunicaciÃ³n y limpieza
625004,48992883,748199100,2021-04-12,266607018,Gerson,great spot great location jorge is very attentive
625005,49067339,748199923,2021-04-12,209272996,Paola,Excellent stay! Great host